.page__subtitle{
  font-size: 1.1em;
  margin-top: -0.6em;
  margin-bottom: 0.8em;
  opacity: 0.85;
}

.archive__item-subtitle{
  margin: 0.2em 0 0.6em 0;
  opacity: 0.85;
}
/* Publications page structural labels */

.page__content h2 {
  font-size: 1.35rem;
  font-weight: 600;
  margin-top: 1.8em;
}

/* Demote "Themes" label specifically */
.page__content h2:first-of-type {
  font-size: 1.05rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #666;
  margin-bottom: 0.6em;
}

.page__content h2:not(:first-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 0.25em;
}
